@using GateWay.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "登录";
}
<script>
        function RefreshValidateCode(img) {
            $(img).attr("src", "/Account/GetValidateCode?time=" + new Date().getSeconds());
        }
</script>
<h2>@ViewBag.Title。</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>使用本地帐户登录。</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "用户名、邮箱或手机号" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "密码" })
                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                        <img src="/Account/GetValidateCode" id="UserCodeimg" alt="验证码" width="75" height="42">
                        <a href="javascript:void(0);" id="UserCodeget" style="margin-left: 10px; width: 80px; height: 23px; line-height: 23px; margin-top: 25px; color: #333; text-decoration: none; cursor: pointer;" onclick=" RefreshValidateCode($('#UserCodeimg')) ">看不清？换一个</a>
                        @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="登录" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("注册为新用户", "Register")
                </p>
                @* 在为密码重置功能启用帐户确认后启用此项
                    <p>
                        @Html.ActionLink("忘记了密码?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}